@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Serif");
@import url("https://fonts.googleapis.com/css2?family=Roboto");

.App {
  text-align: center;
  width: 99.5%;
}
.Header {
  display: flex;
  flex-direction: row;
  width: 99%;
  justify-content: space-between;
  padding: 0.5%;
  margin-right: 0;
}
.NameAndToggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
}
.Navbar img {
  width: 12vw;
}
.NavbarPosition {
  position: fixed;
  width: 100%;
  box-shadow: 2px 2px 2px grey;
}

.NameAndToggle h1 {
  font-size: 50px;
  margin: 25px;
}
.NavLinks {
  font-size: 25px;
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 2%;
  padding-right: 4%;
}
.NavLinks table {
  width: 65%;
}

.text1 {
  padding-right: 10vw;
}
.text1 h1 {
  font-size: 3em;
}
.text1 h2 {
  font-size: 1.5em;
  text-align: left;
}
.ViewMore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10vw;
}
.ViewMore:hover {
  cursor: pointer;
}
.ViewMore p {
  margin-bottom: 0px;
}

/* Bio */

.Bio {
  height: 82.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.BioContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.BioText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
  padding-left: 15vw;
}
.BioText p {
  text-align: end;
  font-size: 1.15em;
}

/* Projects */

.Projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.Projects img {
  width: 30vw;
}
.Projects footer {
  padding-top: 15px;
}
.ProjectsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}


/* Resume */

.Resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 70vh;
}
/* Experience */
.Experience {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 81vh
}
/* Freelance */

.FreelanceServices {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 81vh
}

/* Contact Me */

.ContactMe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 81vh;
}
.contacts {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.email {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.contact-form {
  display: flex;
  flex-direction: column;
  width: 40vw;
}
.contact-form textarea {
  height: 10vh;
}
.github {
  display: flex;
}
.twitter {
  display: flex;
}
.email img {
  height: 6vh;
}
.github img {
  width: 31vh;
}
.twitter img {
  border-radius: 50%;
  width: 10vh;
}


/* 217882 */
