@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif');
@import url('https://fonts.googleapis.com/css2?family=Roboto');


.App {
  text-align: center;
  width: 99.5%;
}
.Header {
  display: flex;
  flex-direction: row;
  width: 99%;
  justify-content: space-between;
  padding: 0.5%;
  margin-right: 0;
}
.NameAndToggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
}
.Navbar img {
  width: 12vw;
}
.NavbarPosition {
  position: fixed;
  width: 100%;
  box-shadow: 2px 2px 2px grey;
}

.NameAndToggle h1 {
  font-size: 50px;
  margin: 25px
}
.NavLinks {
  font-size: 25px;
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 2%;
  padding-right: 4%;
}
.NavLinks table {
  width: 65%;
}


/* About Me */

.AboutMe {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 13vh;
  height: 90vh;
}

.AboutMeContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.text1 {
  padding-right: 10vw;
}
.text1 h1 {
  font-size: 3em;
}
.text1 h2 {
  font-size: 1.5em;
  text-align: left;
}
.ViewMore {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10vw;
}
.ViewMore:hover {
  cursor: pointer;
}
.ViewMore p {
  margin-bottom: 0px;
}



/* Projects */
/* Resume */
/* Experience */
/* Freelance */
/* Contact Me */


/* 217882 */